@page "/counter"
<h2>Членарина</h2>
@*<AuthorizeView>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>
</AuthorizeView>*@
